@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define variáveis CSS personalizadas para temas */
@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --primary: 59 130 246;
    --card: 249 250 251;
    --border: 229 231 235;
  }

  body {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
  }
}
